h2{
    color: blue;

}
img{
    width: 400px;
    padding: 15px blue ;
    border: 20px solid orange;
    margin: 50px;
}
h1{
   font-family: "quintessential";
}
body{
    background-image: url(https://i.ytimg.com/vi/CmcmcE-TuT4/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDttvuyDKVAlKD9JssgwayzR1VVyw);
    background-size: cover;
    
}
.text {
  width: 80%;
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 500px;
  
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
